html
  head
    link(href='/css/itinerary.css' rel='stylesheet')
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
  div(class="background-image")
  style body {background-image:url('https://newevolutiondesigns.com/images/freebies/city-wallpaper-18.jpg');
  body
    .navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/') Home
            li.active
              a(href='#') Account
                
    br
    br
    br
    br
    div.container
      div.row
        div.col-md-12
          div.jumbotron(style="background-color:#fff")
            div.page-header
              h1 Account Details
                small   courtesy of facebook
            p ID: #{user.id}
            p Name: #{user.displayName}
            div
              block content
                p Your Past Itineraries
                if itineraries
                  table.table.table-condensed.table-hover
                    tr
                      td(style='padding-left: 2.7em;') Date
                      td= 'City'
                    each itinerary in itineraries
                      tr
                        td
                          form.slim-row(action='/itinerary', method='post')
                            input(type='hidden', value= user.id, name='user_id')
                            input(type='hidden', value= itinerary[0], name='itinerary_id')
                            button.btn.btn-link(type='submit')
                              span.glyphicon.glyphicon-share-alt
                            label.slim-label= itinerary[2]
                        td= itinerary[1]
            br
            p Your friends who use itinerary:
            div
              table.table.table-striped
                thead
                tbody
                  each friend in friends
                    tr
                      td #{friend.name}
                      td #{friend.id}
                   
