html
  head
    link(href='/css/itinerary.css' rel='stylesheet')
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
  div(class="background-image")
  style body {background-image:url('https://newevolutiondesigns.com/images/freebies/city-wallpaper-18.jpg');
  body
    .navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li.active
              a(href='#') Home
            li
              a(href='/account') Account
                
    br
    br
    br
    br
    div.container
      div.jumbotron
        h1.text-center Itinerary App
        div.text-center
          div
            br
            label(for='select_city') Please select the city you would like to visit!
              form(action='/', method='post')
                div
                  select(class="form-control" id='select_city' name='selector')
                    option(value='Las Vegas') Las Vegas, NV
                    option(value='Phoenix') Phoenix, AZ
                    option(value='Madison') Madison, WI
                    option(value='Urbana') Urbana, IL
                    option(value='Champaign') Champaign, IL
                    option(value='Charlotte') Charlotte, NC
                    option(value='Pittsburgh') Pittsburgh, PA
                div
                  label(for='n_landmarks') How many things would you like to do today?
                    select(class="form-control", id='n_landmarks', name='num_landmarks')
                      option(value='1') One
                      option(value='2') Two
                      option(value='3') Three
                      option(value='4') Four
                      option(value='5') Five
                      option(value='6') Six
                      option(value='7') Seven
                div.checkbox-inline
                  label.checkbox-inline Money-conscious
                    input(type='checkbox', id='inlineCheckbox1', name='low-budget')
                div.checkbox-inline
                  label.checkbox-inline Hidden gems OK
                    input(type='checkbox', id='inlineCheckbox2', name='hipster')
                div
                  input.btn.btn-primary(type="submit", value="Submit")
                 
        if city
          div
            block content
              a(name='morning')
              h2 Your day in #{city} could be something like

              if morning
                p Morning
                table.table.table-condensed.table-hover
                  tr
                    td= 'Name'
                    td= 'Rating'
                    td= 'Address'
                    td= 'Opening'
                    td= 'Closing'
                  if breakfast
                    tr
                    each field, i in breakfast
                      if i==0
                        td
                          a.smooth-link(href= breakfast[7] target="_blank")
                            div.control-group
                              span.glyphicon.glyphicon-cutlery
                              label.smooth-link.inline-glyph= field
                      else 
                        if i==4
                          td
                            div.control-group
                              form.slim-row(action='/#morning', method='post')
                                label.inline-glyph= field
                                input(type='hidden', value='non-null', name='new_breakfast')
                                button.btn.btn-link(type='submit')
                                  span.glyphicon.glyphicon-thumbs-down
                        else 
                          if i < 4
                            td= field
                  each event, i in morning
                    tr
                      if event
                        each field, j in event
                          if j==0
                            td
                              a.smooth-link(href= event[5] target="_blank") 
                                label.smooth-link.inline-glyph= field
                          else
                            if j==4
                              td
                                div.control-group
                                  form.slim-row(action='/#morning', method='post')
                                    label.inline-glyph= field
                                    input(type='hidden', value= i, name='new_morning')
                                    button.btn.btn-link(type='submit')
                                      span.glyphicon.glyphicon-thumbs-down
                            else 
                              if j < 4
                                td= field

              if afternoon
                a(name='afternoon')
                p Afternoon
                table.table.table-condensed.table-hover
                  tr
                    td= 'Name'
                    td= 'Rating'
                    td= 'Address'
                    td= 'Opening'
                    td= 'Closing'
                  if lunch
                    tr
                    each field, i in lunch
                      if i==0
                        td
                          a.smooth-link(href= lunch[7] target="_blank")
                            div.control-group
                              span.glyphicon.glyphicon-cutlery
                              label.smooth-link.inline-glyph= field
                      else 
                        if i==4
                          td
                            div.control-group
                              form.slim-row(action='/#afternoon', method='post')
                                label.inline-glyph= field
                                input(type='hidden', value='non-null', name='new_lunch')
                                button.btn.btn-link(type='submit')
                                  span.glyphicon.glyphicon-thumbs-down
                        else
                          if i < 4
                            td= field
                  each event, i in afternoon
                    tr
                      if event
                        each field, j in event
                          if j==0
                            td
                              a.smooth-link(href= event[5] target="_blank")
                                lable.smooth-link.inline-glyph= field
                          else
                            if j==4
                              td
                                div.control-group
                                  form.slim-row(action='/#afternoon', method='post')
                                    label.inline-glyph= field
                                    input(type='hidden', value= i, name='new_afternoon')
                                    button.btn.btn-link(type='submit')
                                      span.glyphicon.glyphicon-thumbs-down
                            else 
                              if j < 4
                                td= field

              if evening
                a(name='evening')
                p Evening
                table.table.table-condensed.table-hover
                  tr
                    td= 'Name'
                    td= 'Rating'
                    td= 'Address'
                    td= 'Opening'
                    td= 'Closing'
                  if dinner
                    tr
                    each field, i in dinner
                      if i==0
                        td
                          a.smooth-link(href= dinner[7] target="_blank")
                            div.control-group
                              span.glyphicon.glyphicon-cutlery
                              label.smooth-link.inline-glyph= field
                      else 
                        if i==4
                          td
                            div.control-group
                              form.slim-row(action='/#evening', method='post')
                                label.inline-glyph= field
                                input(type='hidden', value='non-null', name='new_dinner')
                                button.btn.btn-link(type='submit')
                                  span.glyphicon.glyphicon-thumbs-down
                        else
                          if i < 4
                            td= field
                  each event, i in evening
                    tr
                      if event
                        each field, j in event
                          if j==0
                            td
                              a.smooth-link(href= event[5] target="_blank")
                                label.smooth-link.inline-glyph= field
                          else 
                            if j==4
                              td
                                div.control-group
                                  form.slim-row(action='/#evening', method='post')
                                    label.inline-glyph= field
                                    input(type='hidden', value= i, name='new_evening')
                                    button.btn.btn-link(type='submit')
                                      span.glyphicon.glyphicon-thumbs-down
                            else 
                              if j < 4
                                td= field
