html
  head
    link(href='/css/itinerary.css' rel='stylesheet')
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
  div(class="background-image")
  style body {background-image:url('https://newevolutiondesigns.com/images/freebies/city-wallpaper-18.jpg');
  body
    .navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li.active
              a(href='#') Home
            li
              a(href='/account') Account
                
    br
    br
    br
    br
    div.container
      div.jumbotron
        h1.text-center Itinerary App
        div.text-center
          div
            br
            label(for='select_city') Please select the city you would like to visit!
              form(action='/', method='post')
                div
                  select(class="form-control" id='select_city' name='selector')
                    option(value='Las Vegas') Las Vegas, NV
                    option(value='Phoenix') Phoenix, AZ
                    option(value='Madison') Madison, WI
                    option(value='Urbana') Urbana, IL
                    option(value='Champaign') Champaign, IL
                    option(value='Charlotte') Charlotte, NC
                    option(value='Pittsburgh') Pittsburgh, PA
                div
                  label(for='n_landmarks') How many things would you like to do today?
                    select(class="form-control", id='n_landmarks', name='num_landmarks')
                      option(value='1') One
                      option(value='2') Two
                      option(value='3') Three
                      option(value='4') Four
                      option(value='5') Five
                      option(value='6') Six
                      option(value='7') Seven
                div.checkbox-inline
                  label.checkbox-inline Money-conscious
                    input(type='checkbox', id='inlineCheckbox1', name='low-budget')
                div.checkbox-inline
                  label.checkbox-inline Hidden gems OK
                    input(type='checkbox', id='inlineCheckbox2', name='hipster')
                div
                  input.btn.btn-primary(type="submit", value="Submit")
                 
        if city
          div
            block content
              a(name='breakfast')
              h2 Your day in #{city} could be something like
              if breakfast
              table
                tr
                  td
                    p Breakfast
                  td
                    form(action='/#breakfast', method='post')
                      input(type='hidden', value='non-null', name='new_breakfast')
                      button.btn.btn-link(type='submit')
                        span.glyphicon.glyphicon-thumbs-down

              table.table.table-condensed.table-hover
                tr
                each field in breakfast
                  td= field

              a(name='lunch')
              if lunch
              table
                tr
                  td
                    p Lunch
                  td
                    form(action='/#lunch', method='post')
                      input(type='hidden', value='non-null', name='new_lunch')
                      button.btn.btn-link(type='submit')
                        span.glyphicon.glyphicon-thumbs-down

              table.table.table-condensed.table-hover
                tr
                each field in lunch
                  td= field

              a(name='dinner')
              if dinner
              table
                tr
                  td
                    p Dinner
                  td
                    form(action='/#dinner', method='post')
                      input(type='hidden', value='non-null', name='new_dinner')
                      button.btn.btn-link(type='submit')
                        span.glyphicon.glyphicon-thumbs-down

              table.table.table-condensed.table-hover
                tr
                each field in dinner
                  td= field

              a(name='landmarks')
              table
                tr
                  td
                    p Landmarks
                  td
                    form(action='/#landmarks', method='post')
                      input(type='hidden', value='non-null', name='refresh')
                      button.btn.btn-link(type='submit')
                        span.glyphicon.glyphicon-thumbs-down

              if morning
                table.table.table-condensed.table-hover
                  tr
                    td= 'Name'
                    td= 'Rating'
                    td= 'Address'
                    td= 'Opening'
                    td= 'Closing'
                    each event in morning
                      tr
                        if event
                          each field in event
                            td= field
              if afternoon
                table.table.table-condensed.table-hover
                  tr
                    td= 'Name'
                    td= 'Rating'
                    td= 'Address'
                    td= 'Opening'
                    td= 'Closing'
                    each event in afternoon
                      tr
                        if event
                          each field in event
                            td= field
              if evening
                table.table.table-condensed.table-hover
                  tr
                    td= 'Name'
                    td= 'Rating'
                    td= 'Address'
                    td= 'Opening'
                    td= 'Closing'
                    each event in evening
                      tr
                        if event
                          each field in event
                            td= field
