html
  head
    meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
    meta(charset="utf-8")
    style.
      html, body, #map-canvas {height:100%;margin:0px;padding:0px;}
      #panel {position: absolute;top: 5px;left: 50%;margin-left: -180px;z-index: 5;background-color: #fff;padding: 5px; border: 1px solid #999;}
    link(href='/css/itinerary.css' rel='stylesheet')
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')

    script(src="https://maps.googleapis.com/maps/api/js")
    script(type="text/javascript").
      
      var city_latlang = {'Las Vegas': new google.maps.LatLng(36.169941, -115.139830) , 'Phoenix':new google.maps.LatLng(33.448377, -112.074037) , 'Madison':new google.maps.LatLng(43.073052, -89.401230) , 'Urbana':new google.maps.LatLng(40.110588, -88.207270) , 'Champaign':new google.maps.LatLng(40.116420, -88.243383) , 'Charlotte':new google.maps.LatLng(35.227087, -80.843127) , 'Pittsburgh':new google.maps.LatLng(40.440625, -79.995886) }
      var city =!{JSON.stringify(city)};
      var breakfast_data =!{JSON.stringify(breakfast)};
      var lunch_data =!{JSON.stringify(lunch)}; 
      var dinner_data =!{JSON.stringify(dinner)};
      var morning_data = !{JSON.stringify(morning)};
      var afternoon_data = !{JSON.stringify(afternoon)};
      var evening_data = !{JSON.stringify(evening)};
      
      
      breakfast_latlng = new google.maps.LatLng(breakfast_data[5], breakfast_data[6]);
      lunch_latlng = new google.maps.LatLng(lunch_data[5], lunch_data[6]); 
      dinner_latlng = new google.maps.LatLng(dinner_data[5], dinner_data[6]); 

      var directionsDisplay;
      var directionsService = new google.maps.DirectionsService();
      var map;
      
      function initialize() {
        
        directionsDisplay = new google.maps.DirectionsRenderer();
        var dinnerIsLast = 0;
        var mapOptions = {
          zoom: 6,
          center: city_latlang[city]
        }
        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        directionsDisplay.setMap(map);
        
        var start = breakfast_latlng;
        if(evening_data.length > 0) {
          var end = new google.maps.LatLng(evening_data[evening_data.length - 1][5], evening_data[evening_data.length - 1][6]);
        }
        else {
          var end = dinner_latlng;
          dinnerIsLast = 1;
        }
        
        waypts = [];
        

        for(var i = 0; i < morning_data.length; i++) {
          waypts.push({
          location:new google.maps.LatLng(morning_data[i][5], morning_data[i][6]),
          stopover:true});

        }
          waypts.push({
          location:lunch_latlng,
          stopover:true});

        for(var i = 0; i < afternoon_data.length; i++) {
          waypts.push({
          location:new google.maps.LatLng(afternoon_data[i][5], afternoon_data[i][6]),
          stopover:true});

        }

        if(!dinnerIsLast) {
          waypts.push({
          location:dinner_latlng,
          stopover:true});
        }

        for(var i = 0; i < evening_data.length - 1; i++) {
          waypts.push({
          location:new google.maps.LatLng(evening_data[i][5], evening_data[i][6]),
          stopover:true});

        }
        
        
        
        var request = {
          origin: start,
          destination: end,
          waypoints: waypts,
          optimizeWaypoints: true,
          travelMode: google.maps.TravelMode.DRIVING
        };
    
        
        directionsService.route(request, function(response, status) {
          
          if (status == google.maps.DirectionsStatus.OK) {
            
            directionsDisplay.setDirections(response);

          }
        }); 
      } 

      google.maps.event.addDomListener(window, 'load', initialize);

  div(class="background-image")
  style body {background-image:url('https://newevolutiondesigns.com/images/freebies/city-wallpaper-18.jpg');
  body
    .navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li.active
              a(href='#') Home
            li
              a(href='/account') Account
                
    br
    br
    br
    br
    div.container
      div.jumbotron
        if city
          div(id="map-canvas" style="float:left;width:35%;height:35%;")
        if save
          div.success-bar
            p Itinerary Saved
        h1.text-center Itinerary App
        div.text-center
          div
            br
            label(for='select_city') Please select the city you would like to visit!
              form(action='/', method='post')
                div
                  select(class="form-control" id='select_city' name='selector')
                    option(value='Las Vegas') Las Vegas, NV
                    option(value='Phoenix') Phoenix, AZ
                    option(value='Madison') Madison, WI
                    option(value='Urbana') Urbana, IL
                    option(value='Champaign') Champaign, IL
                    option(value='Charlotte') Charlotte, NC
                    option(value='Pittsburgh') Pittsburgh, PA
                div
                  label(for='n_landmarks') How many things would you like to do today?
                    select(class="form-control", id='n_landmarks', name='num_landmarks')
                      option(value='1') One
                      option(value='2') Two
                      option(value='3') Three
                      option(value='4') Four
                      option(value='5') Five
                      option(value='6') Six
                      option(value='7') Seven
                div.checkbox-inline
                  label.checkbox-inline Money-conscious
                    input(type='checkbox', id='inlineCheckbox1', name='low-budget')
                div.checkbox-inline
                  label.checkbox-inline Hidden gems OK
                    input(type='checkbox', id='inlineCheckbox2', name='hipster')
                div
                  input.btn.btn-primary(type="submit", value="Submit")
                 
        if city
          div
            block content
              a(name='morning')
              h2 Your day in #{city} could be something like

              if morning
                p Morning
                table.table.table-condensed.table-hover
                  tr
                    td= 'Name'
                    td= 'Rating'
                    td= 'Address'
                    td= 'Opening'
                    td= 'Closing'
                  if breakfast
                    tr
                    each field, i in breakfast
                      if i==0
                        td
                          a.smooth-link(href= breakfast[7] target="_blank")
                            div.control-group
                              span.glyphicon.glyphicon-cutlery
                              label.smooth-link.inline-glyph= field
                      else 
                        if i==4
                          td
                            div.control-group
                              form.slim-row(action='/#morning', method='post')
                                label.inline-glyph= field
                                input(type='hidden', value='non-null', name='new_breakfast')
                                button.btn.btn-link(type='submit')
                                  span.glyphicon.glyphicon-thumbs-down
                        else 
                          if i < 4
                            td= field
                  each event, i in morning
                    tr
                      if event
                        each field, j in event
                          if j==0
                            td
                              a.smooth-link(href= event[7] target="_blank") 
                                label.smooth-link.inline-glyph= field
                          else
                            if j==4
                              td
                                div.control-group
                                  form.slim-row(action='/#morning', method='post')
                                    label.inline-glyph= field
                                    input(type='hidden', value= i, name='new_morning')
                                    button.btn.btn-link(type='submit')
                                      span.glyphicon.glyphicon-thumbs-down
                            else 
                              if j < 4
                                td= field

              if afternoon
                a(name='afternoon')
                p Afternoon
                table.table.table-condensed.table-hover
                  tr
                    td= 'Name'
                    td= 'Rating'
                    td= 'Address'
                    td= 'Opening'
                    td= 'Closing'
                  if lunch
                    tr
                    each field, i in lunch
                      if i==0
                        td
                          a.smooth-link(href= lunch[7] target="_blank")
                            div.control-group
                              span.glyphicon.glyphicon-cutlery
                              label.smooth-link.inline-glyph= field
                      else 
                        if i==4
                          td
                            div.control-group
                              form.slim-row(action='/#afternoon', method='post')
                                label.inline-glyph= field
                                input(type='hidden', value='non-null', name='new_lunch')
                                button.btn.btn-link(type='submit')
                                  span.glyphicon.glyphicon-thumbs-down
                        else
                          if i < 4
                            td= field
                  each event, i in afternoon
                    tr
                      if event
                        each field, j in event
                          if j==0
                            td
                              a.smooth-link(href= event[7] target="_blank")
                                lable.smooth-link.inline-glyph= field
                          else
                            if j==4
                              td
                                div.control-group
                                  form.slim-row(action='/#afternoon', method='post')
                                    label.inline-glyph= field
                                    input(type='hidden', value= i, name='new_afternoon')
                                    button.btn.btn-link(type='submit')
                                      span.glyphicon.glyphicon-thumbs-down
                            else 
                              if j < 4
                                td= field

              if evening
                a(name='evening')
                p Evening
                table.table.table-condensed.table-hover
                  tr
                    td= 'Name'
                    td= 'Rating'
                    td= 'Address'
                    td= 'Opening'
                    td= 'Closing'
                  if dinner
                    tr
                    each field, i in dinner
                      if i==0
                        td
                          a.smooth-link(href= dinner[7] target="_blank")
                            div.control-group
                              span.glyphicon.glyphicon-cutlery
                              label.smooth-link.inline-glyph= field
                      else 
                        if i==4
                          td
                            div.control-group
                              form.slim-row(action='/#evening', method='post')
                                label.inline-glyph= field
                                input(type='hidden', value='non-null', name='new_dinner')
                                button.btn.btn-link(type='submit')
                                  span.glyphicon.glyphicon-thumbs-down
                        else
                          if i < 4
                            td= field
                  each event, i in evening
                    tr
                      if event
                        each field, j in event
                          if j==0
                            td
                              a.smooth-link(href= event[7] target="_blank")
                                label.smooth-link.inline-glyph= field
                          else 
                            if j==4
                              td
                                div.control-group
                                  form.slim-row(action='/#evening', method='post')
                                    label.inline-glyph= field
                                    input(type='hidden', value= i, name='new_evening')
                                    button.btn.btn-link(type='submit')
                                      span.glyphicon.glyphicon-thumbs-down
                            else 
                              if j < 4
                                td= field
          form(action='/', method='post')
            input(type='hidden', value='true', name='save_itinerary')
            button.btn.btn-primary(type='submit') Save Itinerary
