h1 Itinerary App
div
  label Please select the city you would like to visit!
    form(action='/', method='post')
      div 
        select(name='selector')
          option(value='Las Vegas') Las Vegas, NV
          option(value='Phoenix') Phoeniz, AZ
          option(value='Madison') Madison, WI
          option(value='Urbana') Urbana, IL
          option(value='Champaign') Champaign, IL
          option(value='Charlotte') Charlotte, NC
          option(value='Pittsburgh') Pittsburgh, PA
          option(value='Waterloo') Waterloo, Canada
          option(value='Montreal') Montreal, Canada
          option(value='Edinburgh') Edinburgh, UK
          option(value='Karlsruhe') Karlsruhe, Germany
      div
        input(type='submit', value='Submit', data-transition='fade')
if city
  div
    block content
      h2 Your day in #{city} could be something like
      if events
        table
          tr
            td= 'Name'
            td= 'Rating'
            td= 'Address'
            each event in events
              tr
                if event
                  each field in event
                    td= field
