html
  head
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
  div(class="background-image")
  style body {background-image:url('https://newevolutiondesigns.com/images/freebies/city-wallpaper-18.jpg');
  body
    div.container
      div.jumbotron
        h1.text-center Itinerary App
        div.text-center
          div
            br
            label(for='select_city') Please select the city you would like to visit!
              form(action='/', method='post')
                div 
                  select(class="form-control" id='select_city' name='selector')
                    option(value='Las Vegas') Las Vegas, NV
                    option(value='Phoenix') Phoenix, AZ
                    option(value='Madison') Madison, WI
                    option(value='Urbana') Urbana, IL
                    option(value='Champaign') Champaign, IL
                    option(value='Charlotte') Charlotte, NC
                    option(value='Pittsburgh') Pittsburgh, PA
                    option(value='Waterloo') Waterloo, Canada
                    option(value='Montreal') Montreal, Canada
                    option(value='Edinburgh') Edinburgh, UK
                    option(value='Karlsruhe') Karlsruhe, Germany
                div
                  label(for='n_landmarks') How many things would you like to do today?
                    textarea(class='form-control', rows='1', id='n_landmarks', value='', name='num_landmarks')
                div
                  input.btn(type="submit", value="Submit")
        div
           br
           a( href="/auth/facebook")
            img(class="center-block" src="login-with-facebook.png" width="154" height="22")
                 
        if city
          div
            block content
              h2 Your day in #{city} could be something like
              if breakfast
              p Breakfast
              table
                tr
                each field in breakfast
                  td= field
              if lunch
              p Lunch
              table
                tr
                each field in lunch
                  td= field
              if dinner
              p Dinner
              table
                tr
                each field in dinner
                  td= field
              p Landmarks
              if events
                table
                  tr
                    td= 'Name'
                    td= 'Rating'
                    td= 'Address'
                    each event in events
                      tr
                        if event
                          each field in event
                            td= field
             form(action='/', method='post')
               input(type='hidden', value='non-null', name='refresh')
               input(type='submit', value='Nah, gimme something else')

